<!-- ======= Header ======= -->
{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'home' %}" class="logo me-auto me-lg-0 "><img src="{% static 'img/cropped-meek-sweater-fashions-ltd.jpg' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="autohide navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'home' %}" >Home</a></li>
          <li><a href="{% url 'home' %}#management">Management</a></li>
          <li><a href="{% url 'home' %}#compliance">Compliance</a></li>
          <li class="dropdown"><a href="{% url 'home' %}#about"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'home' %}#about">About Us</a></li>
              <li><a href="{% url 'meek-sweater' %}">Another Project</a></li>
              <li><a href="{% url 'home' %}#gallery">Factory Gallery</a></li>
              <li><a href="{% url 'home' %}#team">Merchandising Team</a></li>
              <li><a href="{% url 'home' %}#quality">Quality Assurance</a></li>
              <li><a href="{% url 'home' %}#products">Our Products</a></li>
            </ul>
          </li>
          <li><a href="{% url 'home' %}#clients">Client</a></li>
          <li class="dropdown"><a href=""><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'meek-sweater' %}#profile-meek">Meek Sweater Ltd</a></li>
              <li><a href="{% url 'profile' %}">Meek Sweater & Fashion Ltd.</a></li>
            </ul>
          </li>
          <li><a href="{% url 'home' %}#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
      </div>
    </div>
  </header><!-- End Header -->